<span>現在ログイン中のユーザー：<%= current_user.name %></span>
<%= form_with model: @article, url: "/articles/update", local: true do |f| %>
    <div>
        <br>
        <%= f.label :タイトル %><br>
        <%= f.text_field :subject, autofocus: true, :placeholder =>"#{@article.subject}" %>
    </div>
    <div>
        <%= f.label :中身 %><br>
        <%= f.text_area :body, :placeholder =>"#{@article.body}" %>
    </div>
    <div><%= f.submit "更新する" %></div>
<% end %>