<div class="articles">
<%= link_to "ブログを書く",new_article_path,class:"write-blog"%><i class="fa-solid fa-pen article-pen"></i>
</div>
<div class="boxbaseP30 blog-ichiran">
<table>
    <thead>
        <tr>
            <th>投稿者名</th>
            <th>タイトル</th>
            <th>タグ</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.user.name %></td>
                <td>
                <%= link_to article_path(article.id) do %>
                <%= article.subject %>
                <% end %>
                </td>
            </tr>
        <% end %>
        <% @article.tags.each do |tag| %>
            <div class="chip">
                <%= tag.name %>
                <i class="close material-icons">close</i>
            </div>
        <% end %>
    </tbody>
</table>
</div>