<div id="alternative_url" style="none">
    <a href="∠">スマートフォンページに変更</a>
</div>
<div style="text-align:center;margin:0 auto;width:800px;">
    <h1 id="reading_title">
        オーラソーマは４本のボトルを選ぶことで、あなたの魂のメッセージをお伝えします。無料オーラソーマ ミニリーディング。選んだ４本のボトルから、あなたの人生の目的や使命、潜在的な可能性や才能、現在の状況、これからの方向性のヒントが得られます。
    </h1>
    <br>
    <h3 class="reading_sub">
        あなたの惹かれる４本のボトルを選んでください
    </h3>
    <div id="reading">
        <div id="box">
            <%= link_to image_tag("bottle1.jpg",class:"next1",id:"bottle1"),"#" %>
            <%= link_to image_tag("bottle2.jpg",class:"remain2",id:"bottle2"),"#" %>
            <%= link_to image_tag("bottle3.jpg",class:"remain3",id:"bottle3"),"#" %>
            <%= link_to image_tag("bottle4.jpg",class:"remain4",id:"bottle4"),"#" %>
        </div>
        <div id="navi">
            <ul>
                <li id="no1">
                    <a href="javascript:deleteAction('del1')" id="del1" title="選び直す" style="display: none;">選び直す</a>
                </li>    
                <li id="no2">
                    <a href="#" id="del2 title="選び直す" style="display: none;">選び直す</a>
                </li>     
                <li id="no3">
                    <a href="#" id="del3" title="選び直す" style="display: none;">選び直す</a>
                </li>
                <li id="no4">
                    <a href="#" id="del4 title="選び直す" style="display:none;">選び直す</a>
                </li>
            </ul>
        </div>
        <div id="buttons_box" class="buttons_box2">
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light modal-trigger" href="#modal1">ボトルの選び方</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>ボトルの選び方</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
  <!-- Modal Trigger -->
  <a class="waves-effect waves-light modal-trigger" href="#modal2">ご利用上の注意</a>

  <!-- Modal Structure -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>ご利用上の注意</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
        <div class="clear"></div>
    </div>
    
    <div id="botttlelist">
        <%= link_to image_tag("B000.jpeg",class:"btl", id: "B000"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B001.jpeg",class:"btl", id: "B001"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B002.jpeg",class:"btl", id: "B002"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B003.jpeg",class:"btl", id: "B003"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B004.jpeg",class:"btl", id: "B004"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B005.jpeg",class:"btl", id: "B005"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B006.jpeg",class:"btl", id: "B006"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B007.jpeg",class:"btl", id: "B007"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B008.jpeg",class:"btl", id: "B008"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B009.jpeg",class:"btl", id: "B009"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B010.jpeg",class:"btl", id: "B010"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B011.jpeg",class:"btl", id: "B011"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B012.jpeg",class:"btl", id: "B012"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B013.jpeg",class:"btl", id: "B013"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B014.jpeg",class:"btl", id: "B014"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B015.jpeg",class:"btl", id: "B015"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B016.jpeg",class:"btl", id: "B016"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B017.jpeg",class:"btl", id: "B017"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B018.jpeg",class:"btl", id: "B018"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B019.jpeg",class:"btl", id: "B019"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B020.jpeg",class:"btl", id: "B020"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B021.jpeg",class:"btl", id: "B021"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B022.jpeg",class:"btl", id: "B022"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B023.jpeg",class:"btl", id: "B023"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B024.jpeg",class:"btl", id: "B024"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B025.jpeg",class:"btl", id: "B025"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B026.jpeg",class:"btl", id: "B026"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B027.jpeg",class:"btl", id: "B027"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B028.jpeg",class:"btl", id: "B028"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B029.jpeg",class:"btl", id: "B029"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B030.jpeg",class:"btl", id: "B030"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B031.jpeg",class:"btl", id: "B031"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B032.jpeg",class:"btl", id: "B032"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B033.jpeg",class:"btl", id: "B033"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B034.jpeg",class:"btl", id: "B034"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B035.jpeg",class:"btl", id: "B035"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B036.jpeg",class:"btl", id: "B036"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B037.jpeg",class:"btl", id: "B037"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B038.jpeg",class:"btl", id: "B038"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B039.jpeg",class:"btl", id: "B039"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B040.jpeg",class:"btl", id: "B040"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B041.jpeg",class:"btl", id: "B041"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B042.jpeg",class:"btl", id: "B042"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B043.jpeg",class:"btl", id: "B043"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B044.jpeg",class:"btl", id: "B044"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B045.jpeg",class:"btl", id: "B045"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B046.jpeg",class:"btl", id: "B046"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B047.jpeg",class:"btl", id: "B047"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B048.jpeg",class:"btl", id: "B048"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B049.jpeg",class:"btl", id: "B049"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B050.jpeg",class:"btl", id: "B050"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B051.jpeg",class:"btl", id: "B051"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B052.jpeg",class:"btl", id: "B052"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B053.jpeg",class:"btl", id: "B053"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B054.jpeg",class:"btl", id: "B054"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B055.jpeg",class:"btl", id: "B055"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B056.jpeg",class:"btl", id: "B056"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B057.jpeg",class:"btl", id: "B057"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B058.jpeg",class:"btl", id: "B058"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B059.jpeg",class:"btl", id: "B059"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B060.jpeg",class:"btl", id: "B060"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B061.jpeg",class:"btl", id: "B061"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B062.jpeg",class:"btl", id: "B062"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B063.jpeg",class:"btl", id: "B063"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B064.jpeg",class:"btl", id: "B064"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B065.jpeg",class:"btl", id: "B065"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B066.jpeg",class:"btl", id: "B066"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B067.jpeg",class:"btl", id: "B067"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B068.jpeg",class:"btl", id: "B068"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B069.jpeg",class:"btl", id: "B069"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B070.jpeg",class:"btl", id: "B070"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B071.jpeg",class:"btl", id: "B071"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B072.jpeg",class:"btl", id: "B072"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B073.jpeg",class:"btl", id: "B073"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B074.jpeg",class:"btl", id: "B074"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B075.jpeg",class:"btl", id: "B075"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B076.jpeg",class:"btl", id: "B076"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B077.jpeg",class:"btl", id: "B077"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B078.jpeg",class:"btl", id: "B078"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B079.jpeg",class:"btl", id: "B079"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B080.jpeg",class:"btl", id: "B080"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B081.jpeg",class:"btl", id: "B081"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B082.jpeg",class:"btl", id: "B082"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B083.jpeg",class:"btl", id: "B083"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B084.jpeg",class:"btl", id: "B084"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B085.jpeg",class:"btl", id: "B085"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B086.jpeg",class:"btl", id: "B086"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B087.jpeg",class:"btl", id: "B087"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B088.jpeg",class:"btl", id: "B088"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B089.jpeg",class:"btl", id: "B089"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>  
        <%= link_to image_tag("B090.jpeg",class:"btl", id: "B090"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B091.jpeg",class:"btl", id: "B091"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B092.jpeg",class:"btl", id: "B092"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B093.jpeg",class:"btl", id: "B093"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B094.jpeg",class:"btl", id: "B094"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B095.jpeg",class:"btl", id: "B095"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B096.jpeg",class:"btl", id: "B096"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B097.jpeg",class:"btl", id: "B097"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B098.jpeg",class:"btl", id: "B098"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B099.jpeg",class:"btl", id: "B099"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>  
        <%= link_to image_tag("B100.jpeg",class:"btl", id: "B100"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B101.jpeg",class:"btl", id: "B101"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B102.jpeg",class:"btl", id: "B102"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B103.jpeg",class:"btl", id: "B103"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B104.jpeg",class:"btl", id: "B104"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B105.jpeg",class:"btl", id: "B105"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B106.jpeg",class:"btl", id: "B106"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B107.jpeg",class:"btl", id: "B107"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B108.jpeg",class:"btl", id: "B108"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B109.jpeg",class:"btl", id: "B109"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %> 
        <%= link_to image_tag("B110.jpeg",class:"btl", id: "B110"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B111.jpeg",class:"btl", id: "B111"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B112.jpeg",class:"btl", id: "B112"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B113.jpeg",class:"btl", id: "B113"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B114.jpeg",class:"btl", id: "B114"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B115.jpeg",class:"btl", id: "B115"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B116.jpeg",class:"btl", id: "B116"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B117.jpeg",class:"btl", id: "B117"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B118.jpeg",class:"btl", id: "B118"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B119.jpeg",class:"btl", id: "B119"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B120.jpeg",class:"btl", id: "B120"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>
        <%= link_to image_tag("B121.jpeg",class:"btl", id: "B121"),'#',{title: "スピリチュアル レスキュー - 直感的な深い洞察や気づきを、日常生活の中に生かすのを助ける"} %>    
    </div>
</div>

