<%= form_with model: @review, url: plan_reviews_url, local: true do |f| %>   
    <input type="hidden" value=<%= @plan.id %> name="plan_id">
    <%= f.hidden_field :user_id, :value => @plan.user_id %>

<div class="back_white inner p-t3 dashContent">
<div class="dashContent_right">
    <h1>レビュー</h1>
    <div class="boxbaseP30 review_content">
        <div class="in action_content">
            <h3>レビュー</h3>
            <div class="m-t2">
            <div class="field" id="star">
            <!-- 評価 -->
            <div class="form-group row" id="star">
              <%= f.label :evaluation,'評価 ', class:'col-md-3 col-form-label' %>
              <%= f.hidden_field :evaluation, id: :review_star %>
            </div>
          
            <!-- 評価javascript -->
            <script>
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'review[evaluation]',
              half: true,
            });
            </script> 
            </div>
                <span class="help-block"></span>
            </div>
            <div class="m-t2">
                <%= f.text_area :body, placeholder: "ありがとうございました。",  cols: "50",  rows: "10" %>
                <span class="help-block"></span>
                <p class="small">レビューコメントの入力は任意です。</p>
            </div>
            <div class="imasugu alignCenter">
                <%= f.submit "レビューを投稿する", class: "waves-effect waves-light btn-large post_review" %>
            </div>
            </div>
        </div>
    </div>
</div>
<% end %>
