<div class="back_white plan_detail">
        <div id="vapp" class="inner">
            <div id="side" class="smt pc">

                <div class="gray">
                    <a href="#">
                        <div class="icon size125 wborder" style="background-image:"></div>
                    </a>
                    <p class="name">
                        <a href="#" class="link"></a>
                    </p>
                    <a href="#" class="color">
                        <%= link_to "もっと詳しく",user_profile_path(@user.id)%>
                    </a>
                    <div class="snsicon">
                        <a href="#" target="_blank" class="m-r1">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                    <div class="followbox">
                        <div class="z-depth-1 follow">
                            <div class="w50p">
                                <div class="title">フォロー</div>
                                <div class="member">
                                <%= link_to following_user_path(@user.id) do %>
                                    <span class="bold following_count"><%= @user.following.count %>人</span>
                                <% end %>
                                </div>
                            </div>
                            <div class="w50p">
                                <div class="title">フォロワー</div>
                                <div class="member">
                                <%= link_to followers_user_path(@user.id) do %>
                                    <span class="bold followers_count"><%= @user.followers.count %>人</span>
                                <% end %>
                                </div>
                            </div>
                            <div class="w50p">
                                <div class="title">返信率</div>
                                <div class="reply">
                                    <span class="bold">99%</span>
                                </div>
                            </div>
                            <div class="w30p"></div>
                            <div class="w30p"></div>

                        </div>
                    </div>
                    <p class="time_stamp">
                        24時間以内
                    </p>
                    <div class="selfcheck">
                        <i class="fas fa-check-circle link"></i>
                        本人確認
                        <i class="fas fa-check-circle link"></i>
                        秘密保持契約(NDA)
                    </div>
                    <div class="m-b2 FollowArea">
                        <div class="FollowArea_sub m-b1">フォローして後でチェック</div>
                        <%= render "follow_form" %>
                    </div>
                    <div class="hyouka_box">
                        <div class="icon_heart">
                            評価
                        </div>
                        <div class="right">
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="no-bold">(131)</span>
                        </div>
                        <div class="icon_money">料金</div>
                        <div class="right">1000円</div>
                    </div>
                    <div class="m-b2 SideMessageArea">
                        <label for="modal-trigger_message10335" class="z-depth-2 button primaryButton w100p">メッセージで相談</label>
                        <div class="sideMessageArea_sub">まずは相談してみよう</div>
                    </div>
                </div>
                <div class="m-b1 ReportArea m-t1">
                    <label for="modal-trigger_report">通報する</label>
                </div>
                <div class="sideMessageArea_sub">このプランをシェアしよう!</div>
                <div class="side_sns"></div>
            </div>
            <div id="main">
            <div class="boxbaseP30">
            <div>
            <h1 class="alignCenter">契約が完了しました!</h1>
            <p class="m-b3">タイトル</p>
            <div class="plan_contract_caution">
            <div class="plan_contract_caution_head"></div>
            <div class="plan_contract_share">
            <div class="mb-10">
            <h4 class="alignCenter mb-2">コンサルタントへメッセージを送信しよう！</h4>
            <div class="plan_contract_message">
            <a class="waves-effect waves-light btn contract_shop">メッセージを送信する</a>
            </div>
            </div>
            <h4 class="alignCenter">プランをSNSでシェアしよう!</h4>
            <div class="side_sns">
            <div class="m-r1"></div>
            <div class="fb-share-button"></div>
            </div>
            </div>
            </div>
            </div>
            <h3 class="smt_hyoji">プロフィール</h3>
            <div id="side" class="smt sm">
                <div class="gray">
                    <a href="#">
                        <div class="icon size125 wborder"></div>
                    </a>
                    <p class="status m-t05 alignCenter">相談できます</p>
                    <p class="name">
                        <a href="#" class="link">
                            <span class="name_text">林みのり</span>
                    </p>
                    <div class="sns-icon">
                        <a href="#" target="_blank" class="m-r1">
                        <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                    <p class="time_stamp">24時間以内</p>
                    <div class="selfcheck">
                        <i class="fa fa-check-circle link"></i>
                        本人確認
                        <i class="fa fa-check-circle link"></i>
                        秘密保持契約（NDA）
                    </div>
                    <div class="m-b2 FollowArea">
                    フォローボタン
                    </div>
                    <div class="hyouka_box">
                        <div class="icon_heart">評価</div>
                        <div class="right">
                            <span class="review-icon">
                            <i class="fa fa-star"></i>
                            </span>
                            <span class="review-icon">
                            <i class="fa fa-star"></i>
                            </span>
                            <span class="review-icon">
                            <i class="fa fa-star"></i>
                            </span>
                            <span class="review-icon">
                            <i class="fa fa-star"></i>
                            </span>
                            <span class="review-icon">
                            <i class="fa fa-star"></i>
                            </span>
                            <span class="no-bold">(203)</span>
                        </div>
                        <div class="icon_money">料金</div>
                        <div class="right">1000円〜</div>
                    </div>
                    <div class="SideMessageArea">
                    <a class="waves-effect waves-light btn">メッセージで相談</a>
                    <div class="SideMessageArea_sub">まずは相談してみよう</div>
                    </div>
                </div>
                <div class="SideMessageArea_sub">このプランをシェアしよう!</div>
                <div class="side_sns"></div>
            </div>
            </div>
        </div>
</div>