<div class="back_white">
<%= form_with model: @plan, url: plans_path, local: true do |f| %>
    <div class="mentaListBox">
    <div class="searchBox">
    <form method="GET" action="search" class="js-auto-submit">
    <div class="plan_search">
        <input name="search_on" type="hidden" value="on">
        <h3 class="m-b1">条件で絞り込む</h3>
        <div class="relative">
        <%= search_form_for @search do |f| %>
            <%= f.search_field :name_cont,:placeholder => "検索" %>
            <br>
            <% f.submit '検索' %>
        <% end %> 
            <div class="absolute center-v right-1 gray2 header-search">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="cp_box">
            <input id="cp00" type="checkbox">
            <label for="cp00">
                <i class="fas fa-chevron-down"></i>
                もっと詳しく検索
            </label>
            <div class="cp_container">

            <div class="motto">
                <div class="price-custom">
                <div class="searchBox_m">料金</div>
                <div class="form-group right">
                    <div class="select-wrap">
                <select class="browser-default">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
            </div>
            </div>
            <div class="review-custom">
                <div class="searchBox_m">評価</div>
                <div class="form-group right">
                    <div class="select-wrap">
                        <select class="browser-default">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">〜★★★</option>
                            <option value="2">〜★★★★</option>
                            <option value="3">★★★★★</option>
                        </select>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
        </div>          
        </div>
    
    <div class="listBox">
        <div class="mentorSearch">
            <h1>
                コンサルタントを探す
            </h1>
        </div>            
        <div class="listBox_inner flexbox">
            <div class="listBox_info">
                <p class="listBox_result">
                    <span>10</span>
                    人のコンサルタントがみつかりました。
                </p>
            </div>
            <div class="consultant-plan">
            <div id="vapp">
                <div class="mentorList">
                <% @plans.each do |plan| %>
                <%= link_to plan_path(plan.id) do %>

                    <div class="plan-card">
                        <div class="plan-card_wrapper"></div>
                        <div class="p-content-card_inner">
                            <div class="plan_card_eyecatch">
                                <div class="plan-card_image slickSlide slick-initialized slick-slider">
                                    <div class="slick-list draggable">
                                        <div class="slick-track" style="opacity: 1; width: 268px; tranform: translated3d(0px, 0px, 0px);">
                                            <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width:268px">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <label>
                                    <div class="plan-card_iconButton flexbox">
                                        <div>
                                            <span class="like off">
                                                <i class="far fa-heart"></i>
                                            </span>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="plan-card-text">
                                <div class="plan-card_top">
                                    <div class="plan-card_subject">
                                        <%= plan.title %>
                                    </div>
                                    <div class="plan-card_user flexbox">
                                        <div class="flexbox">
                                            <span class="avatar-image">
                                            </span>
                                            <span class="name">
                                            <%= plan.user.name %>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="plan-card_bottom">
                                    <div class="plan-card_info flexbox">
                                        <div class="plan-card_review flexbox">
                                            <span class="plan-card_review-icon">
                                                <i class="fas fa-star"></i>
                                            </span>
                                            <span class="plan-card_review-count">4.7</span>
                                        </div>
                                        <div class="plan-card_price">
                                            1000円〜
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
                
                <% end %>
                
                
                    

<%#おわり%>
                </div>
            </div>
        </div>
        </div>
        <div class="m-t2"></div>
    </div>
</form>
</div>
</div>
<% end %>
</div>

