<div class="back_white plan_detail">
        <div id="vapp" class="inner">
            <div id="side" class="smt pc">

                <div class="gray">
                    <a href="#">
                        <div class="icon size125 wborder" style="background-image:"></div>
                    </a>
                    <p class="name">
                        <a href="#" class="link"></a>
                    </p>
                    <a href="#" class="color">
                        <%= link_to "もっと詳しく",user_profile_path(@user)%>
                    </a>
                    <div class="snsicon">
                        <a href="#" target="_blank" class="m-r1">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                    <div class="followbox">
                        <div class="z-depth-1 follow">
                            <div class="w50p">
                                <div class="title">フォロー</div>
                                <div class="member">
                                <%= link_to following_user_path(@user.id) do %>
                                    <span class="bold following_count"><%= @user.following.count %>人</span>
                                <% end %>
                                </div>
                            </div>
                            <div class="w50p">
                                <div class="title">フォロワー</div>
                                <div class="member">
                                <%= link_to followers_user_path(@user.id) do %>
                                    <span class="bold followers_count"><%= @user.followers.count %>人</span>
                                <% end %>
                                </div>
                            </div>
                            <div class="w50p">
                                <div class="title">返信率</div>
                                <div class="reply">
                                    <span class="bold">99%</span>
                                </div>
                            </div>
                            <div class="w30p"></div>
                            <div class="w30p"></div>

                        </div>
                    </div>
                    <p class="time_stamp">
                        24時間以内
                    </p>
                    <div class="selfcheck">
                        <i class="fas fa-check-circle link"></i>
                        本人確認
                        <i class="fas fa-check-circle link"></i>
                        秘密保持契約(NDA)
                    </div>
                    <div class="m-b2 FollowArea">
                        <div class="FollowArea_sub m-b1">フォローして後でチェック</div>
                        <%= render "follow_form" %>
                    </div>
                    <div class="hyouka_box">
                        <div class="icon_heart">
                            評価
                        </div>
                        <div class="right">
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="star">
                                <i class="fas fa-star"></i>
                            </span>
                            <span class="no-bold">(131)</span>
                        </div>
                        <div class="icon_money">料金</div>
                        <div class="right">1000円</div>
                    </div>
                    <div class="m-b2 SideMessageArea">
                        <% unless @user.id == current_user.id %>
                            <% if @isRoom == true %>
                                <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
                            <% else %>
                                <%= form_for @room do |f| %>
                                <%= fields_for @entry do |e| %>
                                    <%= e.hidden_field :user_id, value: @user.id %>
                                <% end %>
                                <%= f.submit "メッセージで相談する", class:"btn btn-primary btn-lg user-show-chat side-bar-message"%>
                                <% end %>
                            <% end %>
                        <% end %>
                        <div class="sideMessageArea_sub">まずは相談してみよう</div>
                    </div>
                </div>
                <div class="m-b1 ReportArea m-t1">
                    <label for="modal-trigger_report">通報する</label>
                </div>
                <div class="sideMessageArea_sub">このプランをシェアしよう!</div>
                <div class="side_sns"></div>
            </div>
            <div id="main" class="no_br">
            <div class="plan_details_margin">
                <% if user_signed_in? && current_user.id == @plan.user_id %>
                <td><%= link_to "編集", edit_plan_path(@plan.id) %></td>
                <% end %>
                <p>ユーザーID-<%= current_user.id %></p>
                <p>プランのユーザーID-<%= @plan.user_id %></p>
            </div>
            <div class="boxbaseP30">
                <p>
                タグ
                </p>
                <h1 class="plan_show"><%= @plan.title %></h1>
                <h3 class="nomargin">できること</h3>
                <div class="markdown-body plan_detail_markdown_over">
                    <%= @plan.can_do %>
                </div>
                <div class="alignCenter">
                    <a href class="link more-btn">
                        <i class="fa fa-angle-down"></i>
                    </a>
                </div>
            </div>
            <h3 id="plans" class="anchor-point">プラン（３件）</h3>
            <div class="wrapper flex swiper-container swipe01 swiper-initialized swiper-horizonal swiper-pointer-events swiper-free-mode">
            <%= link_to show_plan_detail_path(@plan.id) do %>
            <div class="plan-card mmm">
            <div class="plan-card_wrapper"></div>
            <div class="p-content-card_inner">
                <div class="plan_card_eyecatch">
                    <div class="plan-card_image slickSlide slick-initialized slick-slider">
                        <div class="slick-list draggable">
                            <div class="slick-track" style="opacity: 1; width: 268px; tranform: translated3d(0px, 0px, 0px);">
                                <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width:268px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plan-card-text">
                    <div class="plan-card_top">
                        <div class="plan-card_subject">
                            カップルコンサルできます!あなたが知りたい過去のトラウマや未来の不安などを解消します!
                        </div>
                    </div>
                    <div class="plan-card_bottom">
                        <div class="plan-card_info flexbox">
                            <div class="plan-card_review flexbox">
                                <span class="plan-card_review-icon">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="plan-card_review-count">4.7</span>
                            </div>
                            <div class="plan-card_price">
                                1000円〜
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
        
        <div class="plan-card mmm">
            <div class="plan-card_wrapper"></div>
            <div class="p-content-card_inner">
                <div class="plan_card_eyecatch">
                    <div class="plan-card_image slickSlide slick-initialized slick-slider">
                        <div class="slick-list draggable">
                            <div class="slick-track" style="opacity: 1; width: 268px; tranform: translated3d(0px, 0px, 0px);">
                                <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width:268px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plan-card-text">
                    <div class="plan-card_top">
                        <div class="plan-card_subject">
                            カップルコンサルできます!あなたが知りたい過去のトラウマや未来の不安などを解消します!
                        </div>
                    </div>
                    <div class="plan-card_bottom">
                        <div class="plan-card_info flexbox">
                            <div class="plan-card_review flexbox">
                                <span class="plan-card_review-icon">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="plan-card_review-count">4.7</span>
                            </div>
                            <div class="plan-card_price">
                                1000円〜
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="plan-card mmm">
            <div class="plan-card_wrapper"></div>
            <div class="p-content-card_inner">
                <div class="plan_card_eyecatch">
                    <div class="plan-card_image slickSlide slick-initialized slick-slider">
                        <div class="slick-list draggable">
                            <div class="slick-track" style="opacity: 1; width: 268px; tranform: translated3d(0px, 0px, 0px);">
                                <div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width:268px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="plan-card-text">
                    <div class="plan-card_top">
                        <div class="plan-card_subject">
                            カップルコンサルできます!あなたが知りたい過去のトラウマや未来の不安などを解消します!
                        </div>
                    </div>
                    <div class="plan-card_bottom">
                        <div class="plan-card_info flexbox">
                            <div class="plan-card_review flexbox">
                                <span class="plan-card_review-icon">
                                    <i class="fas fa-star"></i>
                                </span>
                                <span class="plan-card_review-count">4.7</span>
                            </div>
                            <div class="plan-card_price">
                                1000円〜
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            </div>
            <div class="m-b1 alignCenter m-t3 bold">コンサルタントに相談してみましょう！</div>
            <div class="m-b4 alignCenter m-t2">
            <% unless @user.id == current_user.id %>
                <% if @isRoom == true %>
                    <p class="user-show-room"><a href="/rooms/<%= @roomId %>" class="btn btn-primary btn-lg">チャットへ</a>
                <% else %>
                    <%= form_for @room do |f| %>
                    <%= fields_for @entry do |e| %>
                        <%= e.hidden_field :user_id, value: @user.id %>
                    <% end %>
                    <%= f.submit "メッセージで相談する", class:"btn btn-primary btn-lg user-show-chat"%>
                    <% end %>
                <% end %>
            <% end %>
            </div>
            <div class="boxbaseP30">
                <h4 id="profile" class="anchor-point">プロフィール</h4>
                <div class="planProfile plan_detail_markdown_over"></div>
                <div class="alignCenter">
                    <a href class="link more-btn">
                    <i class="fa fa-angle-town"></i>
                    </a>
                </div>
                <div class="alignCenter">
                    <a href class="link more-btn">
                    <i class="fa fa-angle-town"></i>
                    </a>
                </div>
                <div class="plan_detail_title flexbox">
                    <h4>経歴・実績</h4>
                </div>
                <div class="planResults plan_detail_markdown_over"></div>
                <div class="alignCenter">
                    <a href class="link more-btn">
                    <i class="fa fa-angle-town"></i>
                    </a>
                </div>
            
            </div>
            <h3 id="posts" class="anchor-point">投稿</h3>
            <div id="vapp-profile" class="boxbaseP30">
                <div class="planPostBox">
                    <div class="planPostBox_info flexbox">
                        <span class="planPostBox_date">4月19日</span>
                    </div>
                    <p class="bold">
                        <a href="#" class="link">最近の話</a>
                    </p>
                </div>
                <div class="alignCenter">
                <a href class="link more-btn">
                <i class="fa fa-angle-town"></i>
                </a>
                </div>
            </div>
            <div id="side" class="smt sm">
                <div class="gray">
                    <a href="#">
                        <div class="icon size125 wborder"></div>
                    </a>
                    <p class="status m-t05 alignCenter">相談できます</p>
                    <p class="name">
                        <a href="#" class="link">
                            <span class="name_text">林みのり</span>
                    </p>
                    <div class="sns-icon">
                        <a href="#" target="_blank" class="m-r1">
                        <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                    <p class="time_stamp">24時間以内</p>
                    <div class="selfcheck">
                        <i class="fa fa-check-circle link"></i>
                        本人確認
                        <i class="fa fa-check-circle link"></i>
                        秘密保持契約（NDA）
                    </div>
                    <div class="m-b2 FollowArea">
                    フォローボタン
                    </div>
                    <div class="hyouka_box">
                        <div class="icon_heart">評価</div>
                        <div class="right">
                            <span class="review-icon">
                            <i class="fa fa-star"></i>
                            </span>
                            <span class="review-icon">
                            <i class="fa fa-star"></i>
                            </span>
                            <span class="review-icon">
                            <i class="fa fa-star"></i>
                            </span>
                            <span class="review-icon">
                            <i class="fa fa-star"></i>
                            </span>
                            <span class="review-icon">
                            <i class="fa fa-star"></i>
                            </span>
                            <span class="no-bold">(203)</span>
                        </div>
                        <div class="icon_money">料金</div>
                        <div class="right">1000円〜</div>
                    </div>
                    <div class="SideMessageArea">
                    <a class="waves-effect waves-light btn">メッセージで相談</a>
                    <div class="SideMessageArea_sub">まずは相談してみよう</div>
                    </div>
                </div>
                <div class="SideMessageArea_sub">このプランをシェアしよう!</div>
                <div class="side_sns"></div>
            </div>
            <h3 id="reviews" class="m-b1 anchor-point">
            レビュー
            <span class="review_link"></span>
            </h3>
            <div>
                <div class="rating-summary">
                    <div class="rating-summary_avg">
                        <span class="rating-summary_avg_num">4.7</span>
                    </div>
                    <div class="rating-summary_graph">
                        <div class="rating-summary_graph_labels">
                            <div class="rating-start">
                                <div class="rating-start_label">
                                    <div class="rating-start_label_start">★★★★★</div>
                                    <div class="arting-start_label_num">5</div>
                                    <div class="rating-start_label_count">（100件）</div>
                                </div>
                                <div class="rating-start_label">
                                    <div class="rating-start_label_start">★★★★</div>
                                    <div class="arting-start_label_num">4</div>
                                    <div class="rating-start_label_count">（100件）</div>
                                </div>
                                <div class="rating-start_label">
                                    <div class="rating-start_label_start">★★★</div>
                                    <div class="arting-start_label_num">3</div>
                                    <div class="rating-start_label_count">（100件）</div>
                                </div>
                                <div class="rating-start_label">
                                    <div class="rating-start_label_start">★★</div>
                                    <div class="arting-start_label_num">2</div>
                                    <div class="rating-start_label_count">（100件）</div>
                                </div>
                                <div class="rating-start_label">
                                    <div class="rating-start_label_start">★</div>
                                    <div class="arting-start_label_num">1</div>
                                    <div class="rating-start_label_count">（100件）</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%= link_to "レビューを書く",new_plan_review_path(@plan.id) %>
            <div class="p-profile" style="background-color:transparent;">
                <div class="p-profile_content">
                <% @reviews.each do |review| %>
                    <div class="p-profile_content_itemt c-card-m">
                        <div class="review_list_user">
                            <div class="review_list_avatar">
                                <span class="avatar-image"></span>
                            </div>
                            <div class="review_list_user">
                                <div class="flex">
                                    <div class="review_list_name">
                                        <span class="name">
                                        <%= review.user.name%>
                                        </span>
                                        <div class="review_list_option">
                                        <div class="time_area">
                                            <%= review.created_at.strftime("%Y/%m/%d %H:%M") %>
                                        </div>
                                    </div>
                                </div>
                                <div class="review_list_comment">
                                        <div id='star-rate-<%= review.id %>'>
                                        <script>
                                            $('#star-rate-<%= review.id %>').raty({
                                                size: 36,
                                                starOff:  '<%= asset_path('star-off.png') %>',
                                                starOn : '<%= asset_path('star-on.png') %>',
                                                starHalf: '<%= asset_path('star-half.png') %>',
                                                half: true,
                                                readOnly: true,
                                                score: <%= review.evaluation %>,
                                            });
                                            </script> 
                                            <p class="naiyou">
                                                <%= review.body %>
                                            </pp>
                                        </div>       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
            </div>
        </div>
    </div>  
</div>
</div>